﻿body {
    font-family: Arial,sans-serif;
    margin: 0px;
    padding: 30px
}

table {
    width: 30%;
    border-collapse: collapse;
    border: 2px solid #e75c30;
    margin-left: 20%;
    color: #1e24e7;
}

.row-1 {
    border-bottom: 1px dashed #4cff00;
}

.row-2 {
    background-color: #00ff90;
    text-align: center;
}

.label-hoten {
    font-weight: bold;
    font-style: italic;
}
